@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image:   linear-gradient(45deg, rgba(241, 235, 235, 0), rgb(12, 241, 222));
    font-family: 'Montserrat'
}

/* header{ */
    /* text-align: center; */
    /* margin: auto; */
    /* width: 50%; */
/* } */

#image{
    margin: auto;
    width: 25%;
    height: auto;
}

#footerText{
    text-align: center;
    display: block;
}

p{
    text-align: center;
}

header {
    width: 100%;
    margin:  auto;
}

nav{
    background: rgb(3, 102, 116);
}

main{
    width: 90%;
    margin:  auto;
    margin-top: 10vh;
}

h3{
    font-family: 'Montserrat';
    font-size: 15px;
    word-break:break-all;
}

.container3{
    background: rgb(3, 102, 116);
    border-radius: 10px;
}
.container4{
    border-bottom: solid 2px rgb(119, 116, 116);
}

form{
    padding: 5px;
}

form input{
    height: 45px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat'
}

select {
    width: 100%;
    padding: 5px 15px;
    color: gray;
    height: 45px;
    border: none;
    border-radius: 3px;
}




.bttn {
    padding-left: 90px;
}

.spn {
    color: rgb(241, 69, 39);
}

button, .a-btn{
    justify-items: center;
    background: rgb(243, 123, 102);
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: #fff;
    transition: 0.9s;
}

.a-btn{
    padding: 10px 20px;
    text-decoration: none;
}

button:hover, .a-btn:hover {
    background: rgb(204, 57, 31);
    color: #fff;
    text-decoration: none;
}

#link{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
